# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual envs
.venv/
venv/
ENV/

# Env files
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Flask / Gunicorn
instance/

# pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/